<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .layer1{
        box-sizing:border-box;
        height:100%;
        width:100%!important;
        font-size:14px;
        margin:0;
        color:#898989;
        font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
        line-height:1.6em;
        background-color:#f6f6f6;
      }

      .layer2{
        box-sizing:border-box;
        font-size:14px;
        margin:0 auto;
        display:block;
        max-width:600px;
        padding:20px
      }

      .title{
        box-sizing:border-box;
        font-size:16px;
        margin:0;
        vertical-align:top;
        border-radius:3px 3px 0 0;
        color:#fff;
        font-weight:bold;
        letter-spacing:0.5px;
        padding:20px;
        text-align:center;
        background-color:#f15d30
      }

      .btn{
        background-color: #f15d30;
        border: none;
        color: #fff !important;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 27px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
